<!DOCTYPE html>
<html>
  <head>
    <title>ThegoodvineApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'hello_erb' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="application_layout <%= controller_name %> <%= action_name %>  min-h-screen">
    <header>
      <%= render 'layouts/header/application_header' %>
    </header>
    <div class="flash-container">
      <%= render_flash 'layouts/notifications/flash_messages' %>
    </div>
    <main>
      <div class='container mx-auto px-8'>
        <%= yield %>
      </div>
    </main>
    <footer>
      <div class="bg-purple-lightest py-6">
        <%= render 'layouts/footer/application_footer' %>
      </div>
    </footer>
  </body>
</html>
