<!DOCTYPE html>
<html>
  <head>
    <title>The Good Vine - Better Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'hello_erb' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flash-messages">
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </div>
    <%= yield %>
  </body>
</html>
