<!DOCTYPE html>
<html>
  <head>
    <title>NoBull_Starter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'hello_erb' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="pages_layout <%= controller_name %> <%= action_name %>">
    <header>
      <%= render 'layouts/header/pages_header' %>
    </header>
    <main class="w-full">
      <div class="flash-container">
        <%= render_flash 'layouts/notifications/flash_messages' %>
      </div>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer/pages_footer' %>
    </footer>
  </body>
</html>
