<!DOCTYPE html>
<html>
  <head>
    <title>The Good Vine - Better Review</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'hello_erb' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="pages_layout <%= controller_name %> <%= action_name %>">
    <header>
      <%#= render 'layouts/navigation/pages_header' %>
    </header>
    <main class="">
      <div class="flash-container">
        <%= render_flash 'layouts/notifications/flash_messages' %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
